@import url(./style/header.css);
@import url(./style/apresentacao.css);
@import url(./style/footer.css);

:root{
    --font-textos: 'Montserrat';
    --azul: #22D4FD;
    --font-titulo: 'Krona One';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: black;
    /* height: 100vh; */

    

}

